<?xml version="1.0"?>
<doc>
    <assembly>
        <name>KnowledgeGraph</name>
    </assembly>
    <members>
        <member name="T:KnowledgeGraph.Common.CUtilities">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Common.CUtilities.JsonName``1(System.String)">
            <summary>
            Adapted from
            https://stackoverflow.com/questions/14285498/getcustomattribute-returns-null
            </summary>
            <typeparam name="T"></typeparam>
            <param name="propertyName"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.Common.CUtilities.JsonNames``1(System.Type)">
            <summary>
            https://stackoverflow.com/questions/33616005/get-a-list-of-json-property-names-from-a-class-to-use-in-a-query-string
            https://stackoverflow.com/questions/2490674/how-do-i-find-all-properties-of-type-datetime-in-an-class
            </summary>
            <typeparam name="T"></typeparam>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.Common.CUtilities.EscapeSpecialCharacters(System.String)">
            <summary>
            
            </summary>
            <param name="s"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.Common.Extensions">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Common.Extensions.EnumValue(Newtonsoft.Json.JsonConverter,System.Object,System.String@)">
            <summary>
            
            </summary>
            <param name="converter"></param>
            <param name="untypedValue"></param>
            <param name="value"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.Common.Extensions.ConvertEnum``1(Newtonsoft.Json.JsonConverter,System.String,System.Object@)">
            <summary>
            NOTE: Enum values MUST be lowercase in the schema for this to work. (Currently just the Search Request parameters.)
            </summary>
            <typeparam name="T"></typeparam>
            <param name="converter"></param>
            <param name="existingValue"></param>
            <param name="value"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.Common.Extensions.PrintQuotedDelimited(System.Collections.Generic.List{System.String})">
            <summary>
            
            </summary>
            <param name="list"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.GlobalExceptionHandler">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.GlobalExceptionHandler.#ctor(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            
            </summary>
            <param name="logger"></param>
        </member>
        <member name="M:KnowledgeGraph.GlobalExceptionHandler.OnException(Microsoft.AspNetCore.Mvc.Filters.ExceptionContext)">
            <summary>
            
            </summary>
            <param name="context"></param>
        </member>
        <member name="T:KnowledgeGraph.Controllers.KnowledgeGraphController">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Controllers.KnowledgeGraphController.#ctor(Microsoft.Extensions.Options.IOptions{KnowledgeGraph.DataTransferObjects.Settings})">
            <summary>
            
            </summary>
            <param name="settings"></param>
        </member>
        <member name="M:KnowledgeGraph.Controllers.KnowledgeGraphController.ListClinicalTrials(System.String)">
            <summary>
            
            </summary>
            <param name="search_term"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.Controllers.KnowledgeGraphController.ClinicalTrialDetail(System.String)">
            <summary>
            
            </summary>
            <param name="new_id"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.DatabaseInterface.ClientDetailExtensions">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientDetailExtensions.KGWhere_ID(Neo4jClient.Cypher.ICypherFluentQuery,System.String)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="new_id"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientDetailExtensions.KGWith_CollectDetail(Neo4jClient.Cypher.ICypherFluentQuery)">
            <summary>
            
            </summary>
            <param name="source"></param>        
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_Radius(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_BoundingBox(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGWith_CollectResults(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGCallYield_Search(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_AgeRange(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_AllGenders(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            This query is an AND.
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_OneGender(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DatabaseObjects.Gender,System.String)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="gender"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_Status(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_Phase(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_OverallStatus(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_InterventionType(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_HealthyVolunteers(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_ConditionId(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_LocationId(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_SponsorId(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGMatch_StartYear(Neo4jClient.Cypher.ICypherFluentQuery,KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.ClientSearchExtensions.KGSkipLimit_Paging``1(Neo4jClient.Cypher.ICypherFluentQuery{``0},KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <typeparam name="TResult"></typeparam>
            <param name="source"></param>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.DatabaseInterface.Neo4jInterface">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.Neo4jInterface.#ctor(KnowledgeGraph.DataTransferObjects.Settings)">
            <summary>
            
            </summary>
            <param name="settings"></param>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.Neo4jInterface.GetClinicalTrialsList(KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted)">
            <summary>
            
            </summary>
            <param name="searchRequest"></param>
            <returns></returns>
        </member>
        <member name="M:KnowledgeGraph.DatabaseInterface.Neo4jInterface.GetClinicalTrialDetail(System.String)">
            <summary>
            
            </summary>
            <param name="new_id"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.AgeRangeNode">
            <summary>
            Database object for Age Range
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.AgencyClassNode">
            <summary>
            Database object for AgencyClass
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.AgencyNode">
            <summary>
            Database object for Agency
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ClinicalTrialDetailNode">
            <summary>
            Database object for Clinical Trial Detail
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.AgeRangeElement">
            <summary>
            Database object for Age Range
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ConditionElement">
            <summary>
            Database object for Condition
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ContactElement">
            <summary>
            Database object for Contact
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.GenderElement">
            <summary>
            Database object for Sex
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.HealthyVolunteerElement">
            <summary>
            Database object for Healthy Volunteers
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.InterventionElement">
            <summary>
            Database object for Intervention
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.LocationElement">
            <summary>
            Database object for Location
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.MeshTermElement">
            <summary>
            Database object for Mesh Term
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.SponsorElement">
            <summary>
            Database object for Agency
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ClinicalTrialNode">
            <summary>
            Database object for Clinical Trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ConditionNode">
            <summary>
            Database object for Condition
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.ContactNode">
            <summary>
            Database object for Contact
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.DbEnum">
            <summary>
            All Database Enums so Conversion Code gets generated.  Client can't handle
            deserialization properly with enums in objects.
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.EnrollmentStatusNode">
            <summary>
            Database object for Enrollment Status
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.HealthyVolunteersNode">
            <summary>
            Database object for Healthy Volunteers
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.InterventionNode">
            <summary>
            Database object for Intervention
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.InterventionTypeNode">
            <summary>
            Database object for Intervention Type
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.LocationNode">
            <summary>
            Database object for Location
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.MeshTermNode">
            <summary>
            Database object for Mesh Term
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.PhaseNode">
            <summary>
            Database object for Phase Status
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.SexNode">
            <summary>
            Database object for Sex
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.StudyTypeNode">
            <summary>
            Database object for Study Type
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DatabaseObjects.YearNode">
            <summary>
            Database object for Year
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.Settings">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.DataTransferObjects.Settings.DatabaseConnectionString">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.DataTransferObjects.Settings.DatabaseUserName">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.DataTransferObjects.Settings.DatabasePassword">
            <summary>
            
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailResponse">
            <summary>
            the detailed data from a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailAgeRange">
            <summary>
            the detail age range of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailCondition">
            <summary>
            the detail condition of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailContact">
            <summary>
            the detail contact of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailSex">
            <summary>
            the detail sex of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailHealthyVolunteers">
            <summary>
            the detail healthy volunteers of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailIntervention">
            <summary>
            the detail intervention of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailLocation">
            <summary>
            the detail location info of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailMeshTerm">
            <summary>
            the detail mesh term of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.DetailAgency">
            <summary>
            the detail agency of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.ErrorResponse">
            <summary>
            data indicating error conditions
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.SearchRequest">
            <summary>
            data for the search request endpoint; NOTE: enum values MUST be lowercase
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.SearchRequestDefaulted">
            <summary>
            data for the search request, with fields requiring defaults required; NOTE: enum values
            MUST be lowercase
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.SearchResponse">
            <summary>
            data included from the search response
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.ListClinicalTrial">
            <summary>
            the list data from a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.ListLocation">
            <summary>
            the list location of a clinical trial
            </summary>
        </member>
        <member name="T:KnowledgeGraph.DataTransferObjects.SearchRequestParser">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.DataTransferObjects.SearchRequestParser.SearchRequest">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.DataTransferObjects.SearchRequestParser.#ctor(System.String,Microsoft.AspNetCore.Http.IQueryCollection)">
            <summary>
            
            </summary>
            <param name="searchTerm"></param>
            <param name="keyValuePairs"></param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.DatabaseConnectionKGException">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.DatabaseConnectionKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.DatabaseConnectionKGException.#ctor(System.Exception,System.String,System.String)">
            <summary>
            Construct the exception
            </summary>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.DatabaseConnectionKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.DatabaseConnectionKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.KGException">
            <summary>
            An abstract exception class to handle all application errors.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.KGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.KGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.KGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ParameterCannotBeNullKGException">
            <summary>
            An exception class to handle a missing required parameter.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ParameterCannotBeNullKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCannotBeNullKGException.#ctor(System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="parameterName">The parameter that failed.</param>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCannotBeNullKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCannotBeNullKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ParameterCombinationInvalidKGException">
            <summary>
            An exception class to handle a missing required parameter.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ParameterCombinationInvalidKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCombinationInvalidKGException.#ctor(System.String,System.String[])">
            <summary>
            
            </summary>
            <param name="description"></param>
            <param name="parameterNames"></param>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCombinationInvalidKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterCombinationInvalidKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ParameterInvalidKGException">
            <summary>
            An exception class to handle a missing required parameter.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ParameterInvalidKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterInvalidKGException.#ctor(System.String,System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="parameterName">The parameter that failed.</param>
            <param name="parameterValue">The parameter value that caused the failure.</param>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterInvalidKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterInvalidKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ParameterNotRecognizedKGException">
            <summary>
            An exception class to handle a missing required parameter.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ParameterNotRecognizedKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterNotRecognizedKGException.#ctor(System.String,System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="parameterName">The parameter that failed.</param>
            <param name="parameterValue">The parameter value that caused the failure.</param>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterNotRecognizedKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterNotRecognizedKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ParameterRequiredKGException">
            <summary>
            An exception class to handle a missing required parameter.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ParameterRequiredKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterRequiredKGException.#ctor(System.String,System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="parameterName">The parameter that failed.</param>
            <param name="parameterValue">The parameter value that caused the failure.</param>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterRequiredKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ParameterRequiredKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ResourceNotFoundKGException">
            <summary>
            
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ResourceNotFoundKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ResourceNotFoundKGException.#ctor(System.String,System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="parameterName">The parameter that failed.</param>
            <param name="parameterValue">The parameter value that caused the failure.</param>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ResourceNotFoundKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ResourceNotFoundKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Exceptions.ServerErrorKGException">
            <summary>
            An exception class to handle an unexpected error.
            </summary>
        </member>
        <member name="P:KnowledgeGraph.Exceptions.ServerErrorKGException.StatusCode">
            <summary>
            The status code to return to the caller
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ServerErrorKGException.#ctor(System.Exception,System.String,System.String)">
            <summary>
            Construct the exception
            </summary>
            <param name="ex">The exception that occurred</param>
            <param name="callingObject">The object in which the failure occurred</param>
            <param name="callingRoutine">The routine in which the failure occurred</param>        
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ServerErrorKGException.CreateErrorResponse">
            <summary>
            Create the response to return to the caller
            </summary>
            <returns>The error response</returns>
        </member>
        <member name="M:KnowledgeGraph.Exceptions.ServerErrorKGException.LogError(Microsoft.Extensions.Logging.ILogger{KnowledgeGraph.Exceptions.KGException})">
            <summary>
            Log the exception.
            </summary>
            <param name="logger">The logger object.</param>
        </member>
        <member name="T:KnowledgeGraph.Program">
            <summary>
            
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Program.Main(System.String[])">
            <summary>
            
            </summary>
            <param name="args"></param>
        </member>
        <member name="M:KnowledgeGraph.Program.CreateWebHostBuilder(System.String[])">
            <summary>
            
            </summary>
            <param name="args"></param>
            <returns></returns>
        </member>
        <member name="T:KnowledgeGraph.Startup">
            <summary>
            Defines the configuration of the Web API applicaiton
            </summary>
        </member>
        <member name="M:KnowledgeGraph.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration,Microsoft.AspNetCore.Hosting.IHostingEnvironment)">
            <summary>
            Initializes a new instance of the <see cref="T:KnowledgeGraph.Startup"/> class.
            </summary>
            <param name="configuration">The configuration.</param>
            <param name="hostingEnvironment">The hosting environment.</param>
        </member>
        <member name="P:KnowledgeGraph.Startup.HostingEnvironment">
            <summary>
            Gets the hosting environment.
            </summary>
            <value>
            The hosting environment.
            </value>
        </member>
        <member name="P:KnowledgeGraph.Startup.Configuration">
            <summary>
            Gets the configuration.
            </summary>
            <value>
            The configuration.
            </value>
        </member>
        <member name="M:KnowledgeGraph.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            This method gets called by the runtime. Use this method to add services to the container.
            </summary>
            <param name="services">The services.</param>
        </member>
        <member name="M:KnowledgeGraph.Startup.ConfigureSwaggerUI(Swashbuckle.AspNetCore.SwaggerGen.SwaggerGenOptions)">
            <summary>
            SWAGGER: Configures the swagger UI.
            </summary>
            <param name="swaggerGenOptions">The swagger gen options.</param>
        </member>
        <member name="M:KnowledgeGraph.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder,Microsoft.AspNetCore.Hosting.IHostingEnvironment)">
            <summary>
            This method gets called by the runtime. Use this method to configure the HTTP request pipeline.
            </summary>
            <param name="app">The application.</param>
            <param name="env">The env.</param>
        </member>
    </members>
</doc>
